src/main/mule/emp-onboard-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <!--    <http:listener-config name="emp-onboard-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="emp-onboard-sapi-config" api="emp-onboard-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" /> -->
    <flow name="emp-onboard-sapi-main">
        <http:listener path="/api/*" config-ref="emp-onboard-sapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="emp-onboard-sapi-config" />
    </flow>
    <flow name="emp-onboard-sapi-console">
        <http:listener path="/console/*" config-ref="emp-onboard-sapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="emp-onboard-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\delete_employee\(empId):emp-onboard-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="a81a7a22-dc0a-447e-baea-e8621c68be45" name="DELETE-emp-onboard-sapi-impFlowsFlow" />
    </flow>
    <flow name="get:\employeeProcess\fetch_employee:emp-onboard-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="c0b2b2fa-c1e4-4814-9694-1263361d43c3" name="GET-emp-onboard-sapi-impFlowsFlow\FETCH" />
    </flow>
    <flow name="post:\employeeProcess\add_Employee:application\json:emp-onboard-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="0752ee19-bdfd-4fc8-bb7d-835ef155fdb2" name="POST-ADD-EMP-emp-onboard-sapi-impFlowsFlow" />
    </flow>
  <!--  <flow name="post:\update_employee:application\xml:emp-onboard-sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="e5b244fb-6cd4-4e6e-8542-843eb2206481" message="google" />
    </flow> -->
    <flow name="patch:\update_employee:application\xml:emp-onboard-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="3158c9dc-bc3d-428a-a4fa-f95bc3b24356" name="Patch-UPDATE-EMP-emp-onboard-sapi-impFlowsFlow" />
    </flow>
</mule>
